
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        
     <!---<h1>Bindeo</h1>
      <p>Simple</p>
      {{ejemplo}}
      
      <p>Doble</p>
      <input type="text" [(ngModel)]="ejemplo">
      <p>Prueba {{ejemplo}}</p>
      
      <button (click)="PruebaClick()">Prueba click</button> {{ejemplo2}} -->
        
      <label>Primer edad </label>
      <input type="number" [(ngModel)]="primeraEdad">
      
      <br/>
      <label>Segunda edad </label>
      <input type="number" [(ngModel)]="segundaEdad">

      <br/> 
      la edad total es:{{edadTotal}}
      <br/> 
      el promedio es: {{promedio}}
      <br/>
      <br/>
      <button (click)="Ejercicio1()">Prueba click</button>
      <button (click)="Limpiar()">Limpiar</button> 
      
</body>
</html>
